#svg-wrapper {
  display: flex;
  flex-grow: 1;
  // height: 100%;
  overflow-y: hidden;
}

#svg {
  --s: 332px;
  /* control the size*/
  --c1: #232333;
  --c2: black;

  --_g: #0000 52%, var(--c1) 54% 57%, #0000 59%;
  background:
    radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s)/2),
    radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
    var(--c2);
  background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667);
  width: 100%;
  // height: 100%;
  flex-grow: 1;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  animation: waveAnimation 10s infinite linear;
}


@keyframes waveAnimation {
  0% {
    background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667);
  }
  50% {
    background-size: calc(var(--s)/3.667) var(--s), var(--s) calc(var(--s)/2.667);
  }
  100% {
    background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667);
  }
}

#svg:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.svg-label {
  fill: white;
  font-size: 14px;
  paint-order: stroke;
  stroke: #000000;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font-weight: 800;
}

#graticule {
  fill: none;
  // stroke: #222;
  stroke-width: 0.2;
  opacity: 0.8;
}